:root {
  --fond_clair: #f9f5f0;
  --beige_clair: #ead7c4;
  --beige_foncé: #a67c52;
  --police_grise: #6d6d6d;
  --vert: #d6d4c8;
  --orange: #E1A66C;
  --fond-clair2: #eee2d9;
}

.titre-rdv {
  display: block;
  font-family: 'Arial', cursive;
  font-size: 1em;
  color: var(--gris-police); /* ou une autre couleur de ton choix */
  text-align: center;
}
.annulation-rdv {
  display: block;
  font-family: 'Arial', cursive;
  font-size: 10px;
  color: #fd0404; /* ou une autre couleur de ton choix */
  text-align: center;
  margin-top: 10px;
}
.fond_avis_google {
  width: 100vw;
  height: 400px;
  background: var(--rose-foncé);
  margin: 5px 0 0 0;
  left: 50%;
  right: 50%;
  position: relative;
  transform: translateX(-50vw);
  padding: 10px 0;
}







.rdv-section {
  background: var(--fond_clair); /* fond doux et lumineux */
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === TITRE === */
.titre-rdv h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--beige_foncé); /* brun doux pour un ton naturel */
  margin-bottom: 20px;
  text-align: center;
}

/* === CADRE CAL === */
.cal-wrapper {
  background-color:var(--fond_clair);
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

/* === IFRAME === */
.cal-frame {
  width: 100%;
  height: 1000px; /* tu peux ajuster cette hauteur */
  border: none;
  border-radius: 10px;
  overflow: hidden;
}









/*---------------@MEDIA-------------------------------------------------------------------------------*/

@media (max-width: 800px) {
  /* Titre RDV */
  .titre-rdv h2 {
    font-size: 1.4em;
    padding: 0 10px;
  }

  /* Texte annulation */
  .annulation-rdv h2 {
    font-size: 0.9em;
    padding: 0 10px;
  }

  /* Iframe Calendly */
  iframe {
    height: 500px; /* Réduit la hauteur sur mobile */
  }
  .rdv-section {
    padding: 40px 10px;
  }

  .cal-wrapper {
    padding: 20px;
    border-radius: 15px;
  }

  .titre-rdv h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .cal-frame {
    height: 900px;
  }
}
