<nav class="main-nav">
  <button class="burger" aria-label="Ouvrir le menu">☰</button>
  <div class="nav-links">
    <a href="index.html" {% if page.url == "index.html" %}class="active"{% endif %}>Accueil</a>
    <a href="page_sophrologie.html" {% if page.url == "page_sophrologie.html" %}class="active"{% endif %}>La sophrologie ?</a><i class="fa-solid fa-grip-lines-vertical"></i>
    <a href="page_carroussel.html" {% if page.url == "page_carroussel.html" %}class="active"{% endif %}>Carroussel</a><i class="fa-solid fa-grip-lines-vertical"></i>
    <a href="page_types_de_seances.html" {% if page.url == "page_types_de_seances.html" %}class="active"{% endif %}>Séances</a><i class="fa-solid fa-grip-lines-vertical"></i>
    <a href="page_professionnel.html" {% if page.url == "page_professionnel.html" %}class="active"{% endif %}>Professionnel</a><i class="fa-solid fa-grip-lines-vertical"></i>
    <a href="page_rdv.html" {% if page.url == "/page_rdv.html" %}class="active"{% endif %}>Rendez-vous</a><i class="fa-solid fa-grip-lines-vertical"></i>
  </div>
  <div class="nav-icons">
    <a href="page_avis_google.html" {% if page.url == "page_avis_google.html" %}class="active"{% endif %}><img src="/img_picto_avis_google.png" alt="avis_google" class="picto-avis_google"></a>
    <a href="https://www.linkedin.com/in/julien-raoult-a119a7129/" target="_blank"><img src="/img_picto_linkedin.png" alt="LinkedIn" class="reseau-icon"></a>
    <a href="https://www.facebook.com/julien.raoult.9" target="_blank"><img src="/img_picto_facebook.png" alt="Facebook" class="reseau-icon"></a>
  </div>
</nav>
